@use "sass:math";
// Border-Radius
@mixin radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

// Transition
@mixin transition($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-ms-transition: $time;
	-o-transition: $time;
	transition: $time;
}

//  Transform
@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

// Positon-absolute
@mixin absolute($top:auto, $right:auto, $bottom:auto, $left:auto) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	position: absolute;
}

// Positon-fixed
@mixin fixed ($top:auto, $right:auto, $bottom:auto, $left:auto) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	position: fixed;
}

//  Border
@mixin border ($border-width, $border-style, $border-color) {
	border: $border-width $border-style $border-color;
}

//font size
@function calculateRem($size) {
	$remSize: math.div($size , 16px);
	@return #{$remSize}rem;
}

@mixin fontsize($size) {
	font-size: calculateRem($size);
}

//  Mixin for after and before
@mixin widthheight($width, $height) {
	width: $width;
	height: $height;
}

//  Mixin for after and before
@mixin after($width, $height) {
	content: '';
	width: $width;
	height: $height;
}

@mixin before($width, $height) {
	content: '';
	width: $width;
	height: $height;
}

// placeholder
@mixin placeholder {
	::-webkit-input-placeholder {
		@content
	}

	:-moz-placeholder {
		@content
	}

	::-moz-placeholder {
		@content
	}

	:-ms-input-placeholder {
		@content
	}
}

