@import './variable';
@import './mixins';


.sitemap-page {
    margin-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  
    @media all and (min-width: $screen-sm) {
      margin-top: 0px;
      padding-bottom: 30px;
    }
  
    @media all and (min-width: $screen-md) {
      margin-top: 0px;
      padding-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    @media all and (min-width: $screen-lg) {
      margin-top: 0px;
      padding-bottom: 40px;
      padding-left: 0px;
      padding-right: 0px;
    }
  
    @media all and (min-width: $screen-lg8) {
      margin-top: 0px;
      padding-bottom: 50px;
    }
  
    @media all and (min-width: $screen-xl) {
      margin-top: 0px;
      padding-bottom: 50px;
    }
  
    @media all and (min-width: $screen-2xl) {
      margin-top: 0px;
      padding-top: 70px;
      padding-bottom: 50px;
    }
  
    h1 {
      width: 100%;
    }
  
    .sitemap-main-list {
      column-count: 2 !important;
      padding-left: 3%;
  
      .li-main {
        padding-bottom: 20px;
  
        .title {
          color: #005670;
          font-size: 1.125rem;
          font-family: "GothamMedium";
  
          &:hover {
            color: #c1a75f;
          }
        }
      }
  
      @media (max-width: 480px) {
        column-count: 1 !important;
        padding-left: 8%;
      }
  
      @media (min-width: 481px) and (max-width: 768px) {
        column-count: 1 !important;
        padding-left: 8%;
      }
  
      li {
        list-style-type: disc;
        line-height: 1.5;
  
        &.list-single-child,
        &.list-single {
          margin-left: 5px;
        }
      }
  
      .sitemap-sub-menu-list {
        padding-left: 25px;
        padding-top: 10px;
  
        .level-2 {
          padding-left: 25px;
        }
  
        li {
          list-style-type: circle;
          line-height: 2;
  
          a {
            display: block;
          }
        }
      }
    }
  }