//fonts
// $font-base: 'Albert Sans', sans-serif;
// $font-secondary: 'DM Serif Display', serif;

//colors
// $color-primary: #0DB290;
// $color-white: #ffffff;
// $color-white2: #F8F8F8;
// $color-dark: #4E0087;
// $color-dark2: #34373D;

//font-weight
// $light: 300;
// $normal: 400;
// $medium: 500;
// $semi-bold: 600;
// $bold: 700;

//screen size
$screen-sm: 640px;
$mobile: 767px;
$screen-m: 800px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-lg8: 1080px;
$screen-lg9: 1199px;
$screen-2lg: 1200px;
$screen-xl: 1280px;
$screen-2xl: 1400px;
$screen-3xl: 1536px;
$screen-4xl: 1600px;