@import '../../../../styles/inc/variable.css';

.siteby-list {
    margin-bottom: 8px;

    li {
        position: relative;
        margin-right: 22px;

        &:not(:last-child) {
            margin-right: 22px;
        }

        &:last-child {
            margin-right: 0;

            &::after {
                content: none;
            }
        }

        &::after {
            content: '/';
            position: absolute;
            color: var(--color-light-grey);
            right: -14px;
            top: 3px;
        }

        a {
            font-family: var(--font-base);
            @include fontsize(16px);
            font-weight: var(--normal);
            color: var(--color-dark2);
            line-height: var(--line-height-secondary);
            width: fit-content;
            border-bottom: solid 1px transparent;
            @include transition(all .3s ease);

            @media all and (max-width: $mobile) {
                @include fontsize(14px);
            }

            &:hover {
                border-bottom: 1px solid var(--color-dark2);
            }
        }
    }
}

.footer-dubai {
    .siteby-list {
        li {
            &::after {
                top: 1px;
            }

            a {
                color: var(--color-light-grey);
    
                &:hover {
                    border-bottom: 1px solid var(--color-light-grey);
                }
            }
        }
    }
}

.footer-copyright {
    font-family: var(--font-base);
    @include fontsize(16px);
    font-weight: var(--normal);
    color: var(--color-dark2);
    line-height: var(--line-height-secondary);
    margin-bottom: 8px;

    @media all and (max-width: $mobile) {
        @include fontsize(14px);
    }
}

.footer-dubai {
    .footer-copyright {
        color: var(--color-light-grey);
    }
}